*{
    margin: 0;
    padding: 0;
}

.heading{
    height: 5rem;
    background-color: #343330;
    color: whitesmoke;
    text-align: center;
    line-height: 5rem;
}
.color{
    height: 90vh;
    background-color: #FFA737;
}
.outer{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.box{
    border: 2px solid black;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background-color: #343330;
}
.box:hover{
    cursor: pointer;
    border: 6px solid black;
}
.message:hover{
    cursor: pointer;
}
#stone{
    margin-top: 12rem;
}
#scissor{
    margin-top: 12rem;   
}
.score{
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 3rem;
}
.message{
    display: flex;
    align-items: center;
    justify-content: center;
}
.t{
    
    text-align: center;
    font-size:1.5rem ;
    background-color: #343330;
    color: whitesmoke;
    width: 30rem;
   padding: 1rem;
}
.score2{
    text-align: center;
}
.score1{
    text-align: center;
}

@media(max-width :700px)
{
    .outer{
        margin-top: 40rem;
        flex-direction: column;
        
    }
    .message{
        flex-direction: column-reverse;
        margin-top: 5rem;
    }
     .score{
        flex-direction: column-reverse;
     }
     *{
       background-color: #FFA737;
       color :#343330
     }
     #scissor{
    margin-bottom:  80rem;
     }
    #paper{
        margin-top: 5rem;
    }
    #stone{
        margin-top: 40rem;
    }
    
    .heading{
        margin-bottom: 10rem;
    }
   .outer{
    gap: 1rem;
   }
   .less{
    gap: 1rem;
   }
}